@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@600&display=swap");

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: IBM Plex Mono;
  font-size: 16px;
  line-height: 1.5;

  background-color: #140e3c;
  color: #ffffff;

  height: 8000px;
}

main {
  animation: fadeIn 1s 1s both;
}

header,
section {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  flex-direction: column;
  padding: 32px;
}

header svg {
  max-height: 300px;
}

h1 {
  font-size: 32px;
  margin: 32px 0 0 0;
  text-align: center;
}

section.scene {
}

section.scene img {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  width: 700vh;
  max-width: none;
}

section.house {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  flex-direction: column;
  padding: 32px;
}

section.house svg {
  max-width: 600px;
  width: 100%;
}

section.house svg g#scene {
  opacity: 1;
  transition: all 0.3s;
}

section.house svg:hover g#scene {
  opacity: 0.4;
}

div.label {
  background-color: white;
  opacity: 0;
  color: #140e3c;
  padding: 8px 20px;
  position: fixed;
  pointer-events: none;
  transform: translate(-50%, 20px);
}
