@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: IBM Plex Mono;
  font-size: 16px;
  line-height: 1.5;

  background-color: #140e3c;
  color: #ffffff;

  /* height: 8000px; */
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  flex-direction: column;
}

header svg {
  max-height: 300px;
}

h1 {
  font-size: 32px;
  margin: 32px 0 0 0;
  text-align: center;
}
